*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', monospace;
	color: #333;
	font-weight: 300;

	margin: 0px;
	overflow: hidden;
}

#info {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	padding-bottom: 14px;
	background-color: rgba(255,255,255,1);
	font-size: 14px;

	width: 320px;
}

#info h1 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	margin: -3px 0px 7px;
}

#directions {
	font-size: 13px;
}

#controls {
}

#controls h2 {
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	margin: 10px 0px 0px;
}

#resolution-select {
}

#resolution-select .btn {
	width: 142px;
}

#cred {
	margin-top: 20px;
}

#cred a {
	color: #333;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #333;
}

#cred a:hover {
	color: #333;
}

.btn {
	position: relative;
	margin-right: 5px;
	display: inline-block;
	margin-top: 6px;
	padding: 3px;
	border: 1px solid #888;
	text-align: center;
	box-shadow: 0px 4px 0px #888;
	transition: background 0.2s linear;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}

.btn.selected, .btn:active {
	border-bottom-width: 1px;
	box-shadow: 0px 1px 0px #888;
	background-color: rgba(0,0,0,0.25);
	top: 2px;
}

#low-persistence .btn {
	width: 142px;
}

a {
	color: #a06851;
}

a:hover {

}

kbd {
	font-weight: 300;
	font-family: monospace;
	font-size: 11px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	padding: 2px 4px;
	margin-left: 5px;
	text-align: center;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#oldie {
	background:rgb(100,0,0) !important;
	color:#fff !important;
	margin-top:10em !important;
}
#oldie a { color:#fff }